@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1662896010729') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhuidingbu:before {
  content: "\e67d";
}

.icon-biaoqian:before {
  content: "\e69f";
}

.icon-zhuye:before {
  content: "\e655";
}

.icon-guidang:before {
  content: "\e666";
}

.icon-guanyuwomen:before {
  content: "\e6aa";
}

.icon-mulu:before {
  content: "\e61a";
}

.icon-shangxiazuoyouTriangle15:before {
  content: "\e692";
}

.icon-shangxiazuoyouTriangle17:before {
  content: "\e693";
}

.icon-shangxiazuoyouTriangle16:before {
  content: "\e694";
}

.icon-shangxiazuoyouTriangle18:before {
  content: "\e695";
}

